* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #222;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 16px;
}

button,
input {
  border: 0;
  background: none;
}

.client {
  margin: 0 auto;
  max-width: 400px;
  height: 100%;
}

#connect-form {
  display: flex;
  align-items: stretch;
  flex-flow: row;
}

#client-server-id {
  flex: 1;
}

.input {
  background: #fff;
  padding: 6px;
  /* max-width: 100%; */
}

.button {
  background: #bbb;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 6px 10px;
}

.button--primary {
  background: #bf4;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.point-button {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.point-button--active {
  background: #000;
  color: #fff;
}
