* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #222;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 16px;
}

button,
input {
  border: 0;
  background: none;
}

.client {
  margin: 0 auto;
  max-width: 400px;
  height: 100%;
}

#connection {
  display: none;
}

.input-group {
  display: flex;
  align-items: stretch;
  flex-flow: row;
  justify-content: space-between;
}

.input-group .input {
  flex: 1;
}

.input-group * {
  padding-top: 6px;
  padding-bottom: 6px;
}

.input-group :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  background: #fff;
  border-radius: 3px;
  font-family: 'Consolas', monospace;
  padding: 6px 10px;
}

.button {
  background: #c8c8c8;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 6px 10px;
}

.button--primary {
  background: #bf4;
  color: #000;
}

.button--small {
  background: none;
  color: #bf4;
  padding-left: 0;
  padding-right: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.code {
  font-family: 'Consolas', monospace;
}

.green {
  color: #bf4;
}

a {
  color: #bf4;
}

.point-button {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.point-button--active {
  background: #000;
  color: #fff;
}

.back-button {
  height: 60px;
  width: 60px;
}

.overlay {
  background: none;
  padding: 0;
}

.overlay-canvas {
  width: 100%;
}
