* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #181818;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 16px;
}

button,
input {
  border: 0;
  background: none;
}

.input {
  background: #fff;
  padding: 6px;
}

.button {
  background: #ccc;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 6px;
}

.button--primary {
  background: #bf4;
}

.code {
  font-family: 'Consolas', monospace;
  color: #bf4;
}

.server-canvas {
  background: #fff;
  width: 100%;
}

.overlay {
  background: none;
  padding: 0;
}

.overlay-canvas {
  width: 100%;
}
